<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272760969787-gkl19pgj921ist7pmjg2cvivrr07962p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272760969787-gkl19pgj921ist7pmjg2cvivrr07962p</string>
	<key>API_KEY</key>
	<string>AIzaSyAmXekHoKhkOHsw6hyqkgKlpNYw093QK6U</string>
	<key>GCM_SENDER_ID</key>
	<string>272760969787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivabrolite.md4-github</string>
	<key>PROJECT_ID</key>
	<string>githubrepomanager</string>
	<key>STORAGE_BUCKET</key>
	<string>githubrepomanager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272760969787:ios:d43d035701410fcd9c9a1e</string>
	<key>DATABASE_URL</key>
	<string>https://githubrepomanager.firebaseio.com</string>
</dict>
</plist>